/* ===============================
=            Globals            =
=============================== */
/* Blue #17A3C4 */
/* Dark Blue #005A77 */
html, body { font-family: 'lucida_sansregular', sans-serif; background-color: #DFFCFC; }
html, body { float: left; width: 100%; margin: 0px; padding: 0px; font-size: 100%; vertical-align: baseline; }
html { background: url(../img/bg2.png)no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover; float: left; position: absolute; background-attachment: fixed; height: 100%; }
body { background: rgba(255, 255, 255, 0.5); position: absolute; top: 0px; left: 0px; min-height: 100%;  }
#overlay_wrapper { position: absolute; z-index: 95; width:100%; height: 100%; background: rgba(0,0,0,0.5); display: none;}
#overlay_wrapper.show {  display: block;}
*:focus { outline: none; }
ul, li { list-style: none; padding: 0px; margin: 0px; }
a { color: inherit; text-decoration: none; }
div { display: block;}
input { border: 1px solid #efefef; background-color: #fff; }
h1 { font-size: 3em; margin: 0px; color: rgb(72, 189, 214);}
h2 { font-size: 2em; }
h3 { font-size: 3em; }
textarea { border: 1px solid #d1d1d1; font-family: sans-serif; font-size: 1em; width: 97%; border-radius: 0px; background: #fff; padding: 1em;}
.clearfix { float: none; }
.btn { padding: 10px 15px; line-height: 2em; border-radius: 6px; cursor: pointer; display: inline-block;  margin: 2px 2px;}
.btn span { margin: 0px 20px 0px 0px; }
.btn i { }
.float-left { float: left; }
.btn.green { background-color: #2ECC71; color: #fff; display: inline-block;}
.btn.green:hover,
.btn.green:active,
.btn.green:focus { background-color: #32C570;}
.btn.yellow { background-color: #F4D313; color: #FFF;  }
.btn.yellow:hover,
.btn.yellow:active,
.btn.yellow:focus { }
.btn.red { background-color: #8c212e;  color: #fff; }
.btn.red:hover,
.btn.red:active,
.btn.red:focus { }
.btn.blue { background-color: #48bdd6;  color: #fff;}
.btn.blue:hover {
    background: #32A3BB;
}
.btn.three {
font-size: 0.9em;
}
time {
padding: 1em;
display: inline-block;
margin: 1em 1em 0 0;
border-radius: 0.2em;
color: #282828;
font-weight: bold;
background: #fff;
}
li.changes-other b,
li.changes-audio b,
li.changes-video b {
padding: 0.5em;
display: inline-block;
margin: 1em 1em 0 0;
border-radius: 0.2em;
color: #fff;
}
li.changes-other b {
background: #999;
}
li.changes-audio b {
background: #F4D313;
}
li.changes-video b {
background: #8C212E;
}
.message {
display: inline-block;
padding: 1em;
background: #27AE60;
width: 97%;
border-radius: 0.2em;
margin: 1em 0;
color: #FCFCFC;
}
h1.back_button { float: right; font-size: 2em; margin: 0; cursor: pointer; display: inline-block;}
/* ===================================
=            Grid System            =
=================================== */
main { float: left; width: 100%; }
.center { margin: 0 auto; display: block; width: 960px; overflow: visible; }
.overflow { overflow: hidden;}
.card_backing {  border-bottom: 3px solid #d1d1d1; border-radius: 0.4em; padding: 1em 1em; background-color: #efefef;}
.grey_container { border-radius: 0.4em; padding: 1em; background-color: #efefef; }
li.section { float: left; width: 100%; padding: 0 0.5em 0 0; }
li.section input { float: left; width: auto; border: 1px solid #d1d1d1; }
li.section.contact input { float: left; width: 89%; clear: both; margin: 0.5em 0; padding: 1em 0em 1em 1em;}
li.section textarea { width: 90%; }
.contact_info
{
float: left;
}
/* ======================================
=            Header and Nav            =
====================================== */
header { float: left; width: 100%; height: 3em; margin: 0 0 2em 0;}
header .logo { float: left; width: 20%; height: auto; }
header nav { float: right; height: 2em; display: block; overflow: hidden; margin: 20px 0px; }
header nav ul { float: left; }
header nav ul li { float: left; display: inline-block; }
header nav ul li a { float: left; color: #15A9CA; padding: 5px 10px; text-transform: uppercase; font-weight: bold; cursor: pointer;}
header nav ul li a:hover {
    text-decoration: underline;
}
/* ================================
=    Search Section            =
================================ */
section.center h1 { font-family: 'klavika_basic_regularregular'; color: #15A9CA; font-weight: 100; margin: 1em 0em 0.5em 0em; }
section.center #searchbox { float: left; width: 97%; height: 2em; line-height: 2em; font-size: 1.1em; /* border: none;  */
padding: 0.5em 0.5em; background: transparent; border: 3px solid #17A3C4; color: #17A3C4; }
/* ===================================
=            Client List            =
=================================== */
section.center ul.list { float: left; width: 100%; display: block; margin: 2em 0px 0px 0px; }
section.center ul.list .client { float: left; width: 100%; min-height: 3em; border-radius: 0.4em; padding: 1em 0em; background-color: #E7F1F3; overflow: hidden; border: 1px solid #CBECF2; margin: 5px 0px; }
section.center ul.list .client img { float: left; width: 10%; margin: 0em 0em 0em 1em; display: none;}
section.center ul.list .client .title {  margin:0px 0em 0px 1em; float: left; font-size: 1.5em; line-height: 1.7em; color: #FFF; font-weight: bold; text-transform: uppercase; }
section.center ul.list .client .actions { float: right; overflow: hidden; display: inline-block; margin: 0px 10px 0 0px;}
section.center ul.list .client .actions .fa { font-size: 1.5em; }
ul.list .client .actions li { float: left; margin: 0 0.3em; }
ul.list .client .actions a { float: left; overflow: hidden; padding: 10px 15px; line-height: 2em; }
section.center ul.list .client .title a { clear: both; float: left; color: #305B71;}
section.center ul.list .client .title a.name { color: #17A3C4; line-height: 1em; }
ul.list .client .actions a.add_new span { float: left; margin: 0px 20px 0px 0px; }
ul.list .client .actions a.add_new i { float: right; line-height: 1.4em; }
/* DELETED CLIENT CHANGED STYLE */
section.center ul.list .client.bombed { opacity: 0.5; }
section.center ul.list .client.bombed .title { text-decoration: line-through; }
#search .controls { display: block; float: right; margin: 2em 0em 0em 0em; clear: right; overflow: hidden; padding: 1em 0em 1em 1em; }
#search h1 { float: left; width: 50%; }
#search .controls a { margin: 0 0 0 0.5em; float: right;}
/* ===================================
=         Edit Client List          =
=================================== */
#client_name_editable { float: left; width: 70%; position: relative; margin: 0 0 0em 0;}
#client_name_editable input { background: transparent; font-family: 'lucida_sansregular'; font-weight: 100; border: 0px; border-bottom: 1px dashed #17A3C4; color: #17A3C4; font-size: 1em; width: 100%; }
#client_name_editable i.fa { font-size: 0.4em; position: absolute; top: 0px; right: 0px; }
#client_info {float:left; width:95%; padding: 1em;  border-bottom: 3px solid #d1d1d1; border-radius: 0.4em; background-color: #efefef;}
#client_info .actions { float: left; margin: 2em 0 0; width: 100%; }
#client_info .actions .btn { float: left; margin: 0 0.5em 0 0em; width: 20%; }
#client_info .section { float: left; width: 25%; padding: 0px; }
#client_info h2 { margin: 1em 0 0em 0em; }
#client_info ul.contact li { float: left; width: 50%; }
#client_info input { padding: 1em; border: 1px solid #d1d1d1; }
#client_info ul.contact li span, #client_info ul.contact li input { float: left; width: 45%; }
.draft_check { float: left; display: inline-block; background: #FFFFFF; padding: 0.5em 0.5em; text-align: center; text-indent: -5%; margin: 1em 0.5em 1em 0; border: 1px solid #d1d1d1; border-radius: 2px; min-width: 25%;}
.draft_check input { float: left; }
#final_verison{width:88% !important;}
#add_new_video:hover { top:0px !important; }
#add_new_video  input.video_link { float: left;  padding: 1em; border: 1px solid #d1d1d1; margin: 0 0 1em 0; border-radius:2px; }
#add_new_video .section { float: left; }
#add_new_video #client_name_editable input { color: #282828; font-weight: bold; border-bottom: 1px dashed #C2C2C2; }
#videos #add_new_video.featured .video { width: 97%; }
.video_obj.featured:hover { top:0px;}
.autoHeight { height: auto !important;}
/* =======================================
=            Video Dash View            =
======================================= */
/* ==========  Preproduction  ========== */
div#preproduction h2 { margin: 1em 0.5em; color: inherit; font-size: 1.5em;}
div#preproduction ul { float: left; width: 100%; margin-bottom: 3em; padding-bottom: 2em; }
ul#videos { float: left; width: 100%; clear: both; margin: 10em 0 2em 0; min-height: 600px; }
#preproduction { width: 100%; float: left; border-radius: 0.4em; padding: 1em 1em; background-color: #E7F1F3;}
#preproduction p {
color: #305B71;
font-size: 0.9em;
line-height: 1.4em;
}
.btn input {
background: none;
border: 0px !important;
color: #fff;
box-shadow: 0px 0px 0px;
font-size: 0.8em;
padding: 0px !important;
margin: 0px;
}
div#preproduction .btn {
float: left;
margin: 1em 0;
}
/* ==========  Normal Video Draft  ========== */
ul#videos { position: relative;}
ul#videos li.video_obj:hover { /* older webkit */


/* easeInOutBack */
}
ul#videos li.video_obj { float: left; border-radius: 0.4em; cursor: pointer; display: inline-block; padding: 1em 1em; position: relative; margin: 2.4em 0.5em 1em 0;
/* older webkit */



/* easeInOutBack */
background: #E7F1F3;}
ul#videos li.video_obj.end_row { margin-right: 0px; }
ul#videos li.video_obj.old { opacity: 0.8 }
ul#videos li.video_obj.old2 { opacity: 0.3 }
ul#videos li.video_obj.old3 { opacity: 0.1 }
ul#videos li.video_obj h3 { float: left; width: 100%; font-size: 1em; margin: 1em 0 1em 0; }
ul#videos li.video_obj div.video.draft { float: left; width: 96%; height: auto; overflow: hidden; border: 5px solid #17A3C4; }
ul#videos li.video_obj div.video.draft iframe { float: left; width: 100%; height: 12em; }
ul#videos li.video_obj span.audio_comment { margin: 0.5em 0 0em 0; float: left; }
ul#videos li.video_obj .feedback_wrapper { float: left; overflow: hidden; }
ul#videos li.video_obj .pasttimestamps { float: left; width: 107%; padding: 0em 0 0.5em 0; overflow-y: scroll; overflow-x: hidden; height: 7em; /* background: #fff; */ }
ul#videos li.video_obj.open_card .pasttimestamps:hover {
}
ul#videos li.video_obj .pasttimestamps li { float: left; width: 97%; border-bottom: 1px solid #CADDE7; margin: 0em 0 0.2em 0; padding: 0.3em; }
ul#videos li.video_obj .pasttimestamps li small { float: left; width: 93%; font-size: 0.9em; margin: 0.2em 0; }
ul#videos li.video_obj h4 { float: left; width: 100%; margin: 0 0 0 0; text-align: center; transition: 0.3s ease all;}
ul#videos li.video_obj .pasttimestamps time { font-size: 1em; float: left; clear: both;
 padding: 0.5em 0.7em;
display: inline-block;
margin: 1em 1em 0 0;
border-radius: 0.2em;
color: #282828;
font-weight: bold;
background: #fff; }
ul#videos li.video_obj .ver_number { position: absolute; top: -1em; background: #27ae60; padding: 0.5em 1em; border-radius: 0.2em; left: 45%; color: #fff; border: 1px solid #efefef; }
ul#videos li.video_obj.open_card {
position: absolute;
top: -40em;
width:90%;
left:1em;
z-index: 999;

background: #E7F1F3;
}
ul#videos li.video_obj.open_card  div.video.draft {
width: 100%;
float:left;
min-height: 300px;
}
ul#videos li.video_obj.open_card  div.video.draft iframe {
width:100%;
float:left;
min-height: 515px;
}
ul#videos li.video_obj.open_card .feedback_wrapper {
width: 100%;
}
ul#videos li.video_obj.open_card .audio_comment {
float:left; clear:both;
width:100%;
}
ul#videos li.video_obj.open_card .pasttimestamps {
height:auto;
max-height: 270px;
overflow: scroll;
}
ul#videos li.video_obj.featured:hover {
top: 0em;
}
/* ==========  Featured Video Post  ========== */
#preproduction, ul#videos li.featured { display: inline-block; width: 100%; padding: 10px; color: #305B71; margin: 2em 0 3em 0;}
ul#videos li.featured .video { float: left; border: 0px solid #17A3C4; width: 80%;}
ul#videos li.featured h1 { float: left; width: 100%; clear: both; margin: 0; padding: 0 0 0.5em 0; font-size: 2em; color: #15A9CA; text-transform: uppercase; font-weight: bold;}
ul#videos li.featured .actions { float: left; margin: 0 0em 0 0.5em; }
ul#videos li.featured .actions.popup { }
ul#videos li.featured .actions ul { width: 95%; float: right; text-align:center;}
ul#videos li.featured .video iframe { float: left; width: 100%; height: auto; min-height: 374px; }
span.timeline_picker { float: left; width: 42%; border-radius: 0.3em; padding: 0.5em; background: #fff; margin: 0 0.5em 0 0; overflow: hidden; border: 1px solid #d1d1d1; }
span.timeline_picker input { border: 0; margin: 0; float: left; width: 54%; padding: 0.2em 0em; font-size: 1em; color: #17A3C4; }
span.timeline_picker label { float: left; clear: none; padding: 0em 0.3em 0em 0em; line-height: 1.5em; }
ul#videos li.featured label.title { float: left; font-weight: bold; width: 100%; color:#000;}
ul#videos li.featured #changes_required li textarea { padding: 1em; margin: 0 0 5px; padding-right:5em;}
ul#videos li.featured .actions.popup textarea { width: 97%; height: 10%;}
ul#videos li.featured .actions textarea { float: left; width: 92%; height: 17.5em; margin: 0.5em 0 0.5em 0; padding: 1em;}
ul#videos li.featured .actions .textarea_rows5 { height: 6em !important;}
ul#videos li.featured .actions ul { float: left; width: 100%; }
ul#videos li.featured .actions ul li { float: left; margin: 0 0 0.5em 0; width: 50%; }
ul#videos li.featured .actions ul li a { float: left; width: 85%; font-size: 0.9em; }
ul#videos li.featured #changes_required { width: 100%; display: none; padding: 1em 0;}
ul#videos li.featured #changes_required textarea { margin: 0.5em 0 0.5em 0; padding: 0.2em; height: 3em; }
ul#videos li.featured #changes_required.popup { display: inline-block; width: 100%;}
ul#videos li.featured #changes_required ul { margin: 0.5em; float: left; overflow-y: hidden; }
ul#videos li.featured #changes_required .btn { }
ul#videos li.featured #changes_required .submit-actions { float: left; padding-left:2em;}
h4 {
color: #305B71;
}
ul#videos li.featured {
background: none;
}
span.timeline_picker {
float: left;
display: inline-block;
}
.timestamping {
width: 25%;
display: inline-block;
float: left;
}
.timestamping textarea {
display: inline-block;
}
ul#time-comments li textarea {
	margin-top: 0;
}
ul#time-comments li select, ul#time-comment_first li select {
height: 2.1em;
display: inline-block;
margin: 1em 0;
text-transform: capitalize;
}
ul#videos li.featured #time-comments li textarea, ul#videos li.featured #time-comment_first li textarea {
height: 10em;
margin: 0.5em 0.5em 0.5em;
}
ul#videos li.featured #changes_required ul li {
display: block;
overflow: hidden;
}
ul li.featured #changes_required .timeline-title {
  float: left;
  width: 30%;
  margin-right: 2em;
}
ul li.featured #changes_required .timeline-comments-title {
  float: none;
  width: 63%;
  display: inline-block;
}
ul li.featured #changes_required .timeline-title span, ul li.featured #changes_required .timeline-comments-title span {
	font-size: 12px;
}
.comment_check {
display: inline-block;
width: 100%;
}
/* ====================================
=            Login Styles            =
==================================== */
.logindiv { width: 960px; height: auto; float: none; overflow: visible; margin: 0 auto; text-align: right;}
/*.logobox_loginpage { height: 130px; width: 480px; margin: 5px; background-color: #FFF;  line-height: 130px; }*/
.logobox_loginpage span { font-size: 30px; color: #003d4a; padding-left: 280px; }
.surgelogo { background-image: url(/img/surgeicon.svg); height: 5.3em; width: 5.7em; background-size: 100%; background-color: #000; float: none; /* overflow: hidden; */ display: inline-block;  /* position: fixed; */
/* top: 10px; */
/* right: 2px; */}
.logobox_loginpage label { float: left; }
.textfield { width: 87%; float: left;line-height: 2em;
font-size: 1.1em;
/* border: none; */
padding: 0.5em 0.5em;
background: transparent;
border: 1px solid #17A3C4;
color: #17A3C4; margin: 0.15em 0 0; display: inline-block;}
.loginbox label {
font-family: 'lucida_sansregular';
font-weight: 100;
color: #17A3C4;
font-size: 1.3em;
text-align: left;
width: 100%;
float: left;
line-height: 2em;
border-radius: 3px;
}
label {}
.loginbox input.button.btn.blue {
float: right;
padding: 1.3em 2em;
font-weight: bold;
}
/*#dash_logo h1,*/
.logobox_loginpage h1 {
float: left;
color: #003E4D;
text-transform: uppercase;
width: 100%;
font-weight: 100;
font-size: 5em;
font-family: 'klavika_basic_regularregular',sans-serif;


display: inline-block;
text-align: left;
}
.logobox_loginpage h2 {
float: left;
color: #17A3C4;
margin: 0px;
font-size: 2em;
font-family: 'klavika_basic_regularregular',sans-serif;
text-transform: capitalize;
font-weight: 100;
display: inline-block;
text-align: right;
width: 49%;
}
/*#dash_logo h1 {
font-size: 3em;
margin:1em 0em;

}*/
div#credit {
float: left;
width: 100%;
color: #000;
font-weight: bold;
font-family: 'lucida_sansregular';
display: none;
}
.logobox_loginpage {
margin: 25em 0em 0em 0em;
display: inline-block;
float: left;
width: 100%;
}
.loginbox .btn {
margin: 0px;

display: inline-block;
}
.loginbox{margin: 3px;}
.confirm_comment
{
margin-left: 0px  !important;
margin-bottom: 5px;
width: 50%  !important;
border-radius: 2px;
}
.timestamp_details
{
position: relative;
font-size: 18;
}
.timed_change
{
padding-bottom: 10px;
padding-top: 15px;
}
.small_spacer
{
padding: 3px;
}
.final_time
{
width: 10% !important;
}
.final_type
{
position: relative;
right: 22em;
bottom: 2em;
with: 24%;
}
.final_comment
{
position:relative;
right:7em;
}
.change_type
{
position: relative;
font-size: 18;
}
#credit small {
float: right;
}
/* ====================================
=            Web Timeline            =
==================================== */
div#timeline { padding: 0em 0 2em 0; }
.timeline { float: left; width: 94%; border-bottom: 2px solid; padding: 1em; border-radius: 0.4em; overflow: visible; display: block; clear: both; position: relative; }
.timeline i.fa { border-radius: 100%; font-size: 2em; border: 2px solid; padding: 0.5em; position: relative; margin: 0 6%; background: rgba(256, 256, 256, 0.2); z-index: 9; }
.timeline .unload { background: rgba(0, 0, 0, 0.5); position: absolute; top: 0px; height: 103%; right: 0px; z-index: 1; -webkit-transition: all 1s ease-in-out; -moz-transition: all 1s ease-in-out; -o-transition: all 1s ease-in-out; transition: all 1s ease-in-out; }
.timeline.stage_1 .unload { width: 89%; }
.timeline.stage_2 .unload { width: 69.5%; }
.timeline.stage_3 .unload { width: 51%; }
.timeline.stage_4 .unload { width: 31.5%; }
.timeline.stage_5 .unload { width: 12.5%; }
.timeline.finished .unload { width: 0%; }
.popup .tri { background: #efefef; position: absolute; width: 30px; bottom: -15px; height: 30px; transform: rotate(45deg); -ms-transform: rotate(45deg); /* IE 9 */
-webkit-transform: rotate(45deg); -webkit-transition: all 1s ease-in-out; -moz-transition: all 1s ease-in-out; -o-transition: all 1s ease-in-out; transition: all 1s ease-in-out; border: 0px; z-index: 1; }
div#surgebar .popup .tri { top: -15px; }
.timeline .popup { min-width:228px; -webkit-transition: all 1s ease-in-out; -moz-transition: all 1s ease-in-out; -o-transition: all 1s ease-in-out; transition: all 1s ease-in-out; position: absolute; background: #efefef; border-radius: 0.5em; color: #000; padding: 1em; border-color: #d1d1d1; text-shadow: 0px 0px 0px #AAAAAA; top: -125px; overflow: visible; font-weight: normal; line-height: 1.3em; }
.timeline .popup h3 { font-size: 1em; margin: 0; padding: 0;}
.timeline .popup .complete { text-decoration: line-through; overflow: visible; z-index: 99; color: #B8B8B8; }
.timeline .popup .strike { text-decoration: line-through; overflow: visible; z-index: 99; color: #B8B8B8; }
.timeline.stage_1 .popup { left: 7.7%; }
.timeline.stage_2 .popup { left: 27.1%; }
.timeline.stage_3 .popup { left: 45.6%; }
.timeline.stage_4 .popup { left: 65.2%; }
.timeline.stage_5 .popup { left: 72%; }
.timeline.finished .popup { left: 7.7%; }
.timeline.stage_5 .popup .tri {
right: 100px;
}
div#surgebar .popup { top: initial; bottom: -125px; }
div#clientbar { background-color: #27ae60; border-color: #219552; color: #fff; text-shadow: 0px 2px 0px #219552; margin: 7em 0 0 0; }
div#surgebar { background-color: #17A3C4; border-bottom: 2px solid; border-color: #10839E; color: #fff; text-shadow: 0px 2px 0px #10839E; margin: 1em 0 7em 0; }
.project_name {overflow:visible !important;}
.hidden_items{display:none;}
#project_message{
height: 295px;
margin: 1em 0;
padding: 1em;
border-radius: 0px;
background: #fff;
width: 97%;
}
.video iframe{
width: 100%;
height: 403px;
}
.small_title{
display: block;
clear: both;
float: left;
margin: 0.5em 0;
}
.label_stop_float{
display: block; clear: both;
}
/*===================================
=            Alexs Fixes            =
===================================*/
li.video_obj.featured .title {
display: block;
clear: both;
font-size: 1.8em;
line-height: 2em;
}
li.video_obj.featured .sub-title {
    color: #305B71;
    font-size: 1.6em;
}
div#action_box {
	margin-left: 0;
}
div#action_box ul {
float: left;
display: block;
}
div#action_box ul li {
display: inline-block;
margin: auto;
}
.video_obj.featured .video iframe    {
height: 606px;
}
label.title {
clear: both;
display: inline-block;
float: left;
width: 97%;
margin: 0.5em 0;
font-family: inherit;
}
ul#time-comments li .controls, ul#time-comment_first li .controls {
float: left;
width: 30%;
margin: 0em 1em 0em 0em;
}
ul#time-comments li textarea, ul#time-comment_first li textarea {
float: none;
width: 63%;
display: inline-block;
}
span.timeline_picker.end {
margin: 0px;
}
ul#time-comments {
margin: 1em 0;
}
ul#time-comments li {
margin: 1em 0;
}
.submit-actions {
float: right !important;
}
#add_new_video label.title {
margin: 0px;
}
ul#comments-general {
display: inline-block;
}
ul#comments-general textarea {
	margin-left: 0;
}
.video-js {
border: 0px !important;
}
.blank_video{
display: block;
border: 0px;
font-size: 12em;
text-align: center;
padding: 1em;
color: #eeeeee;
background: #48BDD6;
}
ul#videos li.video_obj .pasttimestamps li.director {
padding: 1em;
color: #1E8AA3;
}
.big_btn{
  padding: 50px 0;
  font-size: 50px;
  border-radius: 21px;
  text-align: center;
}
.checkbox{
	width: auto !important;
}

.video_obj .message {
	width: 95%;
	font-size: 33px;
}
.light_blue_box {
  padding: 10px;
  color: #305B71;
  margin: 2em 0 3em 0;
  background:#E7F1F3;
	float: left;
  border-radius: 0.4em;
  padding: 1em 1em;
  background-color: #E7F1F3;
}

#download_message hr {
    margin: 1em 0;
    background: transparent;
    border: 1px solid #BCDAE0;
    border-bottom: 0px;
}
div#download_message input {
    margin: 0px 10px 10px 0;
    display: inline-block;
}
div#download_message .option {
    margin: 0 0 1em 0em;
    display: inline-block;
    padding: 0 0 1em 0;
    border-bottom: 1px solid #BCDAE0;
}
div#download_message .btn.newline {
    display: block;
    /*width: 30%;*/
    clear: both;
    margin: 2em 0 0 0;
}
div#download_message .btn.red {
  width: 35%;
}
#download_message ul.required li:last-child {
    margin-top: 25px;
    font-weight: bold;
}
#download_message ul.marketing li {
    margin-bottom: 5px;
}
div#brandusb select {
    margin: 0 1em 0 0;
}

.disable_input{
	display: none;
}
.display_input{
	display: block;
}
#brandusb{
	position: relative;
}
.usb_images{
	left: 280px;
    position: absolute;
    top: -200px;
}
.fullscreen{
	background: none repeat scroll 0 0 rgba(51, 51, 51, 0.7);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.confirmbtn{
	  background-color: #FFF;
  left: 40%;
  margin: -150px 0 0 -150px;
  padding: 1em;
  position: fixed;
  top: 50%;
  width: 500px;
  border-radius: 0.3em;
  border: 1px solid #D1D1D1;
}
.confirmbtn p {
    padding: 1em 0 0;
    font-size: 1.2em;
    line-height: 1.7em;
}
#cloasesubmit{
  color: #8E8E8E;
  font-size: 30px;
  float: right;
  margin-top: -0.3em;
}
textarea[title]:hover:after {
content: attr(title);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 20;
  white-space: nowrap;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}
.warning {
  border-top: 1px solid #B33A3a;
    border-bottom: 5px solid #B33a3a;
    border-right: 1px solid #B33A3a;
    border-left: 1px solid #B33A3a;
    padding: 10px;
    background-color: #EEC9C8;
    border-radius: 5px;
}
.btn.green.shake {
  display: none;
}
